<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Coins</title>
    </head>

        <body>
          <div class='container'>
            <div class='jumbotron'>
              <h1>Coins</h1>
              <p><em>See how your cents break down.</em></p>
            </div>  <!-- /JUMBOTRON -->

        <!-- Row: 1 -->
            <div class='row'>
              <div class='col-sm-6'>
                  <h2>Make some cents!</h2>
                  <form action='/userInput'>
                      <div class='form-group'>
                        <label for='number'>Number</label>
                        <input id='number' name='number' type='number'>
                      </div>

                      <button class='btn btn-warning' type='submit'>Submit!</button>
                </form>
            </div>  <!-- /col-sm-6 -->
          </div>  <!-- /Row -->

<!-- Results ------------>
        <!-- Row: 2 -->
          <div class="row">
              <div class="col-sm-6">
                    <ul>
                        <h2>Your cents: $.{{ change }}</h2>
                        <h2>Here's your change!</h2>
                            <li>Quarters: {{ results[0] }}</li>
                            <li>Dimes: {{ results[1] }}</li>
                            <li>Nickels: {{ results[2] }}</li>
                            <li>Pennies: {{ results[3] }}</li>

                    </ul>

              </div><!--col-sm-6-->
          </div><!--row-->
      </div>  <!-- /Container  -->









        </body>
</html>
